body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}

input, textarea, button {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
}

button {
  background: #048547;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #036c39;
}
